html{

    margin: -0.5rem 0rem 0rem -0.5rem;

}

@font-face{

    font-family: "Mi fuente";
    src: url(../Fuente/Roboto-Bold.ttf);

}

@font-face{

    font-family: "Mi segunda fuente";
    src: url(../Fuente/Roboto-Light.ttf);

}

@font-face{

    font-family: "Mi tercer fuente";
    src: url(../Fuente/Roboto-Medium.ttf);

}


h1{

    font-family: "Mi fuente";
    font-size: 3.5rem;
    line-height: 2.1rem;
    color: #2F4251;

}

h3{

    font-family: "Mi segunda fuente";
    font-size: 1rem;
    color: #BBC7D6;

}

.o-container-Main{

    width: 120rem;
    height: 60rem;
    background-color: #F6FAFD;
    display: flex;
    justify-content: center;
    align-items: center;

}

.o-container-TitleCal{

    width: 22rem;
    height: 40rem;

}

.o-container-ButtonResult{

    width: 11rem;
    height: 3.6rem;
    background-color: #F70025;
    margin: 0rem 2rem 0rem 3rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.o-container-Results{

    width: 22rem;
    height: 13rem;
    background-color: #FFFFFF;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1rem rgba(100, 168, 221, 0.23);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 0rem 0rem 2.5rem

}

.o-TitleUAO{

    font-family: "Mi segunda fuente";

}

.o-container-textCal{

    width: 22rem;
    height: 9rem;

}

.o-button-start{

    font-size: 3rem;
    width: 11rem;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #F70025;
    outline: none;
    border-radius: 2rem;

}

.o-container-textResult{

    width: 7rem;
    height: 1rem;
    display: flex;
    align-items: center;

}

.o-container-textValor{

    width: 12rem;
    height: 5rem;
    display: flex;
    align-items: center;

}

.o-Number{

    font-size: 5rem;

}

.o-container-LoginData{

    width: 22rem;
    height: 14rem;
    margin: 0.5rem 0rem 0rem 0rem;

}

.o-container-type{

    width: 21.5rem;
    height: 4rem;
    margin: 0.5rem 0rem 2rem 0rem;
    border: none;
    box-sizing: border-box;
    border-bottom: 0.1rem solid #52729E;
    background-color: transparent;
    font-size: 3.5rem;
    font-family: "Mi tercer fuente";
    outline: none;
    color: #2F4251;
}

.o-style-Number{

    font-family: "Mi segunda fuente";
    font-size: 1rem;
    color: #BBC7D6;

}

.o-container-MethodOperation{

    width: 22rem;
    height: 5.5rem;
    margin: 3rem 0rem 0rem 0rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.o-container-TextOperation{

    width: 5rem;
    height: 1.2rem;
    display: flex;
    align-items: center

}

.o-container-MenuOperation{

    width: 22rem;
    height: 3.5rem;

}

.o-selectOperation{

    background-color: #2F4251;
    width: 22rem;
    height: 3.5rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    outline: none;
    font-size: 2rem;
    color: white;
    font-family: "Mi segunda fuente";

    /*Permite quitar la flecha de la lista*/
    -webkit-appearance: none;

    background-image: url(../Imágenes/down-arrow.png);
    background-repeat: no-repeat;
    background-position: 19rem 1.2rem;
    background-size: 1.5rem;

}


select{

    text-align-last: center;

}